.corpo_menu {
    font-family: 'Saira', sans-serif;
    list-style: none;
    background-color: #242121;
    width: 275px;
    height: 1300px;
    font-size: 15px;
    overflow: visible;

}

/*itens do menu*/


.item_menu {
    text-decoration: none;
    color: #fff;
    background-color: #484848;
    padding:12px 16px; 
}

.separator {
    font-weight: 500;
    color: #bdbdbd;
    text-decoration: none;
    list-style: none;
    padding: 12px 16px;
    height: 40px;
}

.ti{
    margin-right: 16px;
    color:#ffffff
}


.botoes {
    text-decoration: none;
    color: #fff;
    background-color: #484848;
    padding:12px 16px; 
    margin: 0px 0px 3px ;
    list-style: none;
    
    
}

